<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} %m - %msg%n" />
		</Console>
		<File name="champOut" fileName="\eyechamp\log\out.log">
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} %m - %msg%n"/>
		</File>
	</Appenders>
	<Loggers>
		<Root level="INFO" additivity="false">
			<AppenderRef ref="Console" level="INFO"/>
			<AppenderRef ref="champOut" level="DEBUG" />
		</Root>
	</Loggers>
</Configuration>